@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(37, 150, 190);
  text-align: center;
  color: rgb(224, 244, 247);
}

#myCanvas {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/eff280c3-56fd-47e3-866d-df913013b748/dgkkjef-7a0fc9ee-2c8a-4180-bfd6-8b07ab44d7fe.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi9lZmYyODBjMy01NmZkLTQ3ZTMtODY2ZC1kZjkxMzAxM2I3NDgvZGdra2plZi03YTBmYzllZS0yYzhhLTQxODAtYmZkNi04YjA3YWI0NGQ3ZmUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.rJOwDLTneRLWmxB287H_A7Cf--oomGNiR6WHeKzkIWY");
  background-size: 900px 700px;
  border-radius: 10px;
  background-position: center;
  border: 4px solid rgb(224, 244, 247);;
}

h1{
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}

h2{
  font-family: "Rubik Dirt", system-ui;
}

